<section class="news legislazione-e-dottrina">
  <h2 class="documentFirstHeading">
    <a href="#">Inserimenti recenti in Legislazione e Dottrina</a>
  </h2>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare Ministero per la Pubblica Amministrazione 01.10.2018, n. 3</a>
        </h2>

        <div class="tileBody">
          <span class="description">Responsabile per la transizione digitale - art. 17 decreto legislativo 7 marzo 2005, n. 82 "Codice dell'amministrazione digitale".</span>
          <span class="date">04/10/2018 10:29</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare MIUR 02.10.2018, n. 2</a>
        </h2>
        <div class="tileBody">
          <span class="description">Elezioni degli organi collegiali a livello di istituzione scolastica a.s. 2018/2019.</span>
          <span class="date">04/10/2018 09:43</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 02.10.2018, prot. n. 4048</a>
        </h2>
        <div class="tileBody">
          <span class="description">Progetto nazionale "Sport di Classe" per la scuola primaria anno scolastico 2018/19.</span>
          <span class="date">03/10/2018 12:53</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 26.09.2018, prot. n. 42322: D.Lvo n. 59/2017, art. 17, comma 2 lettera b).</a>
        </h2>
        <div class="tileBody">
          <span class="description">Concorso docenti abilitati. Trasmissione Decreto Ministeriale n. 631 del 25 settembre 2018.</span>
          <span class="date">03/10/2018 12:50</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
    </div>
    <div class="col-lg-4 col-sm-12">
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare Ministero per la Pubblica Amministrazione 01.10.2018, n. 3</a>
        </h2>

        <div class="tileBody">
          <span class="description">Responsabile per la transizione digitale - art. 17 decreto legislativo 7 marzo 2005, n. 82 "Codice dell'amministrazione digitale".</span>
          <span class="date">04/10/2018 10:29</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare MIUR 02.10.2018, n. 2</a>
        </h2>
        <div class="tileBody">
          <span class="description">Elezioni degli organi collegiali a livello di istituzione scolastica a.s. 2018/2019.</span>
          <span class="date">04/10/2018 09:43</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 02.10.2018, prot. n. 4048</a>
        </h2>
        <div class="tileBody">
          <span class="description">Progetto nazionale "Sport di Classe" per la scuola primaria anno scolastico 2018/19.</span>
          <span class="date">03/10/2018 12:53</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 26.09.2018, prot. n. 42322: D.Lvo n. 59/2017, art. 17, comma 2 lettera b).</a>
        </h2>
        <div class="tileBody">
          <span class="description">Concorso docenti abilitati. Trasmissione Decreto Ministeriale n. 631 del 25 settembre 2018.</span>
          <span class="date">03/10/2018 12:50</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
    </div>
    <div class="col-lg-4 col-sm-12">
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare Ministero per la Pubblica Amministrazione 01.10.2018, n. 3</a>
        </h2>

        <div class="tileBody">
          <span class="description">Responsabile per la transizione digitale - art. 17 decreto legislativo 7 marzo 2005, n. 82 "Codice dell'amministrazione digitale".</span>
          <span class="date">04/10/2018 10:29</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Circolare MIUR 02.10.2018, n. 2</a>
        </h2>
        <div class="tileBody">
          <span class="description">Elezioni degli organi collegiali a livello di istituzione scolastica a.s. 2018/2019.</span>
          <span class="date">04/10/2018 09:43</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 02.10.2018, prot. n. 4048</a>
        </h2>
        <div class="tileBody">
          <span class="description">Progetto nazionale "Sport di Classe" per la scuola primaria anno scolastico 2018/19.</span>
          <span class="date">03/10/2018 12:53</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Nota MIUR 26.09.2018, prot. n. 42322: D.Lvo n. 59/2017, art. 17, comma 2 lettera b).</a>
        </h2>
        <div class="tileBody">
          <span class="description">Concorso docenti abilitati. Trasmissione Decreto Ministeriale n. 631 del 25 settembre 2018.</span>
          <span class="date">03/10/2018 12:50</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
    </div>
  </div>
</section>
