<div class="calendar">
  <div class="row">
    <h2 class="documentFirstHeading">
      <a href="#">In calendario</a>
    </h2>
  </div>
    <div class="row row-striped">
      <div class="col-3 text-left">
        <h4 class="display-4"><span class="badge badge-secondary">1 / 3</span></h4>
        <p>Novembre</p>
      </div>
      <div class="col-9">
        <h6><a href="#">Seminario nazionale Scanno 2018</a></h6>
        <ul class="list-inline">
          <li class="list-inline-item">
            <i class="fa fa-map-marker-alt" aria-hidden="true"></i>
            Scanno (AQ) - Sala congressi Hotel Miramonti - via D. Di Rienzo, 32
          </li>
        </ul>
      </div>
    </div>
    <div class="row row-striped">
      <div class="col-3 text-left">
        <h4 class="display-4"><span class="badge badge-secondary">27</span></h4>
        <p>Ottobre</p>
      </div>
      <div class="col-9">
        <h6><a href="#">Il PTOF e il SNV: strumenti e modalità organizzative per la progettualità della scuola</a></h6>
        <ul class="list-inline">
          <li class="list-inline-item"><i class="fa fa-map-marker-alt" aria-hidden="true"></i> “Vittoria Parc Hotel” - Palese (BA)</li>
        </ul>
      </div>
    </div>
</div>
