<div class="calendar container">
  <div class="row">
    <div class="col-md-3">
      <h3>Calendario</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h4>Marzo</h4>
      <div class="it-carousel-wrapper it-carousel-landscape-abstract-three-cols">
        <div class="it-carousel-all owl-carousel">
          <div class="calendar-card">
            <div class="calendar-card-data">
              <strong>19</strong> lun
            </div>
            <ul class="calendar-card-list">
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-img">
                    <span class="avatar size-xl">
                      <img src="/assets/img/firenze.jpg" title="img title" alt="imagealt">
                    </span>
                  </span>
                  <span class="event-info">
                    <span class="hour">10.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-img">
                    <span class="avatar size-xl">
                      <img src="/assets/img/monaco.jpg" title="img title" alt="imagealt">
                    </span>
                  </span>
                  <span class="event-info">
                    <span class="hour">10.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="calendar-card">
            <div class="calendar-card-data">
              <strong>22</strong> merc
            </div>
            <ul class="calendar-card-list">
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-info">
                    <span class="hour">11.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="calendar-card">
            <div class="calendar-card-data">
              <strong>23</strong> giov
            </div>
            <ul class="calendar-card-list">
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-info">
                    <span class="hour">11.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-img">
                    <span class="avatar size-xl">
                      <img src="/assets/img/amalfi.jpg" title="img title" alt="imagealt">
                    </span>
                  </span>
                  <span class="event-info">
                    <span class="hour">11.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
          <div class="calendar-card">
            <div class="calendar-card-data">
              <strong>25</strong> sab
            </div>
            <ul class="calendar-card-list">
              <li>
                <a href="#" title="Vai all'appuntamento: Il seminario “La Relazione che cura” alla MEM">
                  <span class="event-info">
                    <span class="hour">11.30</span>
                    <span class="place">Sala Conferenze lorem ipsum - Napoli</span>
                    <span class="title">First event of the day..lorem ipsum dolor</span>
                  </span>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
