  <div class="form-group">
    <input
      type="password"
      class="form-control input-password {{ 'input-password-strength-meter' if strengthMeter}}"
      id="{{ id if if else 'input-id' }}" >
    <span class="password-icon" aria-hidden="true">
      <svg class="password-icon-visible icon icon-sm"><use xlink:href="/svg/sprite.svg#it-password-visible"></use></svg>
      <svg class="password-icon-invisible icon icon-sm d-none"><use xlink:href="/svg/sprite.svg#it-password-invisible"></use></svg>
    </span>
    <label for="{{ id if id else 'input-id' }}">
      {{ label if label else 'label' }}
    </label>
    {% if description %}
      <small class="form-text text-muted">{{ description }}</small>
    {% endif %}
  </div>
