<section id="section1" class="news">
  <h2 class="documentFirstHeading">
    <a href="#">Notizie in evidenza</a>
  </h2>

  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tab1a-tab" data-toggle="tab" href="#tab1" role="tab" aria-controls="tab1" aria-selected="true">In evidenza</a>
      </li>
    <li class="nav-item">
      <a class="nav-link" id="tab2-tab" data-toggle="tab" href="#tab2" role="tab" aria-controls="tab2" aria-selected="false">Le più lette</a>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane p-3 fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1a-tab">
      <!-- Sezione Notizie in evidenza -->
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Valorizzazione eccellenze a.s. 2018/19</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">28/09/2018 12:19</span>
          <span class="description">Emanato il decreto di definizione del programma nazionale di promozione
            delle eccellenze concernente gli studenti delle scuole di istruzione secondaria di secondo grado,
            statali e paritarie, per il corrente anno scolastico 2018/2019.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Indicazioni Nazionali: azioni di accompagnamento</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">27/09/2018 10:25</span>
          <span class="description">Istruzioni per la prosecuzione, nell'a.s. 2018/19, di iniziative formative per lo sviluppo di azioni di accompagnamento alle Indicazioni Nazionali per il primo ciclo. L’obiettivo è il miglioramento di pratiche didattiche improntate allo sviluppo delle competenze di base e di cittadinanza.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Ricostruzione di carriera: presentazione domande</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">26/09/2018 10:19</span>
          <span class="description">Dal 1° settembre al 31 dicembre ciascun docente può inoltrare la domanda di ricostruzione di carriera alla propria istituzione scolastica di titolarità o sede di incarico triennale. Disponibili le funzioni SIDI per la presentazione delle domande,
            la dichiarzione dei servizi e la verifica da parte delle scuole.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Siti web delle scuole: al via la registrazione al dominio .edu.it</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">20/09/2018 10:40</span>
          <span class="description">È partita la migrazione dei domini delle scuole da .gov.it a .edu.it.
            Tutte le scuole possono registrare il loro dominio .edu.it. Effettuando la registrazione entro il 19 ottobre potranno mantenere lo stesso terzo livello del nome. Il passaggio è gratuito.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>

      <!-- fine Sezione Notizie in evidenza -->
    </div>
    <div class="tab-pane p-3 fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Il rinnovamento del curricolo del Liceo Classico</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">26/09/2018 10:07</span>
          <span class="description">Sei seminari territoriali, nei mesi di ottobre e novembre 2018, dedicati al rinnovamento del curricolo del Liceo Classico: nell'ambito del progetto promosso dalla Direzione Generale per gli ordinamenti scolastici, d'intesa con la Rete Nazionale dei Licei Classici, continuano le iniziative formative per la valorizzazione della cultura umanistica.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Aggiornamento Anagrafe Nazionale degli Studenti</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">24/09/2018 14:51</span>
          <span class="description">Istruzioni per le operazioni coincidenti con l’avvio dell’anno scolastico: fino al 27 ottobre saranno disponibili le funzioni per l’aggiornamento dei dati sulle frequenze per le scuole di ogni ordine e grado.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Siti web delle scuole: al via la registrazione al dominio .edu.it</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">20/09/2018 10:40</span>
          <span class="description">È partita la migrazione dei domini delle scuole da .gov.it a .edu.it.
            Tutte le scuole possono registrare il loro dominio .edu.it. Effettuando la registrazione entro il 19 ottobre potranno mantenere lo stesso terzo livello del nome. Il passaggio è gratuito.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
      <article class="tileItem">
        <h2 class="tileHeadline">
          <a class="summary url" href="/notizia" title="News Item">Valorizzazione eccellenze a.s. 2018/19</a>
        </h2>
        <div class="documentByLine"></div>
        <div class="tileBody">
          <span class="date">28/09/2018 12:19</span>
          <span class="description">Emanato il decreto di definizione del programma nazionale di promozione
            delle eccellenze concernente gli studenti delle scuole di istruzione secondaria di secondo grado,
            statali e paritarie, per il corrente anno scolastico 2018/2019.</span>
        </div>
        <div class="visualClear"><!-- --></div>
      </article>
    </div>
  </div>



</section>
