<div class="books">
  <div class="row">
    <h2 class="documentFirstHeading">
      <a href="#">Libri in catalogo</a>
    </h2>
  </div>
  <div class="listing">
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale1.png" class="img-fluid">
        </a>
        <button type="button" class="btn btn-secondary btn-tooltip-round" data-toggle="tooltip" data-placement="top" title="Testo consigliato per il concorso da dirigente scolastico">
          <i class="fa fa-torah"></i>
        </button>
      </div>
      <div class="col info">
        <a href="#">Manuale per la prova scritta</a>
        <p class="author">a cura di Mariella Spinosi</p>
        <p class="date">settembre 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale2.png" class="img-fluid">
        </a>
        <button type="button" class="btn btn-secondary btn-tooltip-round" data-toggle="tooltip" data-placement="top" title="Testo consigliato per il concorso da dirigente scolastico">
          <i class="fa fa-torah"></i>
        </button>
      </div>
      <div class="col info">
        <a href="#">Competenze chiave per la cittadinanza</a>
        <p class="author">a cura di G. Cerini, S. Loiero, M. Spinosi</p>
        <p class="date">maggio 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale3.png" class="img-fluid">
        </a>
        <button type="button" class="btn btn-secondary btn-tooltip-round" data-toggle="tooltip" data-placement="top" title="Testo consigliato per il concorso da dirigente scolastico">
          <i class="fa fa-torah"></i>
        </button>
      </div>
      <div class="col info">
        <a href="#">Insegnare e dirigere nella scuola digitale</a>
        <p class="author">Roberto Baldascino</p>
        <p class="date">marzo 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale4.png" class="img-fluid">
        </a>
        <button type="button" class="btn btn-secondary btn-tooltip-round" data-toggle="tooltip" data-placement="top" title="Testo consigliato per il concorso da dirigente scolastico">
          <i class="fa fa-torah"></i>
        </button>
      </div>
      <div class="col info">
        <a href="#">Fare grammatica valenziale nella scuola delle competenze</a>
        <p class="author">a cura di Alan Pona, Sara Cencetti, Giulia Troiano</p>
        <p class="date">marzo 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale5.png" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Raccolta Leggi Scuola e Pubblico Impiego 2018</a>
        <p class="author">a cura di Sergio Auriemma</p>
        <p class="date">giugno 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale6.png" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Repertorio 2018 - Dizionario normativo della scuola</a>
        <p class="date">febbraio 2018</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/manuale7.png" class="img-fluid">
        </a>
        <button type="button" class="btn btn-secondary btn-tooltip-round" data-toggle="tooltip" data-placement="top" title="Testo consigliato per il concorso da dirigente scolastico">
          <i class="fa fa-torah"></i>
        </button>
      </div>
      <div class="col info">
        <a href="#">Un’ancora per la valutazione</a>
        <p class="author">a cura di Giancarlo Cerini, Mariella Spinosi</p>
        <p class="date">novembre 2017</p>
      </div>
    </div>
    <a href="#" class="read-more">Sezione Libri</a>
  </div>

</div>
