<div class="container-fluid services">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title">Concorso Dirigente Scolastico</h5>
        <div class="card-body">
          <p class="card-text">Tutto quello che c'è da sapere per affrontare al meglio la prova </p>
          <p><a href="">Scopri cosa possiamo offrirti <i class="it-chevron-right"></i></a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title">Ricostruzione di Carriera</h5>
        <div class="card-body">
          <p class="card-text">Notizie, aggiornamenti normativi ed una web app dedicata!</p>
          <p class="card-text"><a href="">Approfondisci! <i class="it-chevron-right"></i></a></p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title">Scuola 7</h5>
        <div class="card-body">
          <p class="card-text"> In questo numero: <b>Il futuro delle prove INVALSI</b></p>
          <p><a href="">Per ricevere gratuitamente la newsletter di Scuola7 <i class="it-chevron-right"></i></a></p>
        </div>
      </div>
    </div>
  </div>
</div>
