<fieldset class="rating">
  <legend>Rating</legend>
  <input type="radio" id="star5a" name="ratingA" value="5" />
  <label class="full" for="star5a">
    <svg class="icon icon-sm">
      <use xlink:href="/svg/sprite.svg#it-star-full"></use>
    </svg>
    <span class="sr-only">Valuta 5 stelle su 5</span>
  </label>
  <input type="radio" id="star4a" name="ratingA" value="4" />
  <label class="full" for="star4a">
    <svg class="icon icon-sm">
      <use xlink:href="/svg/sprite.svg#it-star-full"></use>
    </svg>
    <span class="sr-only">Valuta 4 stelle su 5</span>
  </label>
  <input type="radio" id="star3a" name="ratingA" value="3" />
  <label class="full" for="star3a">
    <svg class="icon icon-sm">
      <use xlink:href="/svg/sprite.svg#it-star-full"></use>
    </svg>
    <span class="sr-only">Valuta 3 stelle su 5</span>
  </label>
  <input type="radio" id="star2a" name="ratingA" value="2" />
  <label class="full" for="star2a">
    <svg class="icon icon-sm">
      <use xlink:href="svg/sprite.svg#it-star-full"></use>
    </svg>
    <span class="sr-only">Valuta 2 stelle su 5</span>
  </label>
  <input type="radio" id="star1a" name="ratingA" value="1" />
  <label class="full" for="star1a">
    <svg class="icon icon-sm">
      <use xlink:href="/svg/sprite.svg#it-star-full"></use>
    </svg>
    <span class="sr-only">Valuta 1 stelle su 5</span>
  </label>
</fieldset>
