<ul class="nav nav-tabs nav-tabs-icon-text nav-dark">
  <li class="nav-item"><a class="nav-link active" href="#"><svg class="icon">
        <use xlink:href="/dist/svg/sprite.svg#it-link"></use>
      </svg> Tab 1</a></li>
  <li class="nav-item"><a class="nav-link" href="#"><svg class="icon">
        <use xlink:href="/dist/svg/sprite.svg#it-link"></use>
      </svg> Tab 2</a></li>
  <li class="nav-item"><a class="nav-link" href="#"><svg class="icon">
        <use xlink:href="/dist/svg/sprite.svg#it-link"></use>
      </svg> Tab 3</a></li>
  <li class="nav-item"><a class="nav-link disabled" href="#" tabindex="-1"><svg class="icon">
        <use xlink:href="/dist/svg/sprite.svg#it-link"></use>
      </svg> Tab 4</a></li>
</ul>
