<ul class="nav nav-tabs nav-tabs-icon-text" id="myTab3" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" id="tab1c-tab" data-toggle="tab" href="#tab1b" role="tab" aria-controls="tab1b" aria-selected="true">
        <svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-link"></use></svg> Tab 1
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab2b-tab" data-toggle="tab" href="#tab2b" role="tab" aria-controls="tab2b" aria-selected="false">
       <svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-link"></use></svg> Tab 2
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" id="tab3b-tab" data-toggle="tab" href="#tab3b" role="tab" aria-controls="tab3b" aria-selected="false">
        <svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-link"></use></svg> Tab 3
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" id="tab4b-tab" data-toggle="tab" href="#tab4b" role="tab" aria-controls="tab3b" aria-selected="false" aria-disabled="true" tabindex="-1">
        <svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-link"></use></svg> Tab 4
      </a>
    </li>
  </ul>
  <div class="tab-content" id="myTab3Content">
    <div class="tab-pane p-4 fade show active" id="tab1b" role="tabpanel" aria-labelledby="tab1c-tab"><p>Contenuto 1</p></div>
    <div class="tab-pane p-4 fade" id="tab2b" role="tabpanel" aria-labelledby="tab2b-tab"><p>Contenuto 2</p></div>
    <div class="tab-pane p-4 fade" id="tab3b" role="tabpanel" aria-labelledby="tab3b-tab"><p>Contenuto 3</p></div>
    <div class="tab-pane p-4 fade" id="tab4b" role="tabpanel" aria-labelledby="tab4b-tab">Contenuto 4 (non raggiungibile, il tab relativo è disabilitato)</div>
  </div>
