<div class="container">
    <div class="row">
      <div class="col-12 col-sm-6">
        <p><strong>Bottone primario</strong></p>
        <button type="button" class="btn btn-primary btn-progress disabled" disabled>
          Label bottone <svg class="icon icon-light"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
          <span class="progress">
          <span class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></span>
        </span>
        </button>
      </div>
      <div class="col-12 col-sm-6">
        <p><strong>Bottone secondario</strong></p>
        <button type="button" class="btn btn-secondary btn-progress disabled" disabled>
          Label bottone <svg class="icon icon-light"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
          <span class="progress">
          <span class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></span>
        </span>
        </button>
      </div>
    </div>
  </div>
