<div class="card-wrapper card-space">
    <div class="card card-bg card-big border-bottom-card">
      <div class="flag-icon"></div>
      <div class="etichetta">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#it-settings"></use>
        </svg>
        <span>Sviluppo</span>
      </div>
      <div class="card-body">
        <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <a class="read-more" href="#">
          <span class="text">Leggi di più</span>
          <svg class="icon">
            <use xlink:href="/svg/sprite.svg#it-arrow-right"></use>
          </svg>
        </a>
      </div>
    </div>
  </div>
