<div class="card-wrapper">
  <div class="card {% if withBg %}card-bg{% endif %}{% if withImg %}card-img{% endif %}">
    <div class="card-body">
      {% if withImg %}
      <div class="img-responsive-wrapper">
        <div class="img-responsive">
          <div class="img-wrapper">
            {% if src %}
               <img src="{{src}}" title="img title" alt="imagealt">
             {% endif %}
          </div>
        </div>
      </div>
      {% endif %}
        <div class="categoryicon-top">
          {% if withIcon %}
            <svg class="icon">
              <use xlink:href="/svg/sprite.svg#{{icon if icon else 'it-close'}}"></use>
            </svg>
          {% endif %}
            <span class="text">
              {{ category if category else 'Category name'}}
            </span>
        </div>
      <h5 class="card-title">
        {{ title if title else 'Card title' }}
      </h5>
      <p class="card-text">
        {{ text if text else 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.' }}
      </p>
      {% if readMore %}
        <a class="read-more" href="#"><span class="text">Leggi di più</span>
          <svg class="icon">
            <use xlink:href="/svg/sprite.svg#it-arrow-right"></use>
          </svg>
        </a>
      {% endif %}
    </div>
  </div>
</div>
