<div class="card-wrapper">
  <div class="card {% if withBg %}card-bg{% endif %}{% if withImg %}card-img{% endif %}">
    <div class="card-body">
      {% if withImg %}
        <div class="img-responsive-wrapper">
            <div class="img-responsive">
              <div class="img-wrapper">
                <img src="https://via.placeholder.com/310x190/ebebeb/808080/?text=Immagine" title="img title" alt="imagealt">
              </div>
            </div>
        </div>
      {% endif %}
      {% if withIcon %}
        <div class="categoryicon-top">
            <svg class="icon">
              <use xlink:href="/svg/sprite.svg#{{icon}}"></use>
            </svg>
            <span class="text">Category<br>Name</span>
        </div>
      {% endif %}
      <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</h5>
      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et dolore magna aliqua.</p>
    </div>
  </div>
</div>
