<!DOCTYPE html>
<html lang="en">
  {% include "partials/head/head.html" %}
  <body>
    {% set active = 'base-page' %}
    {% include "partials/header/header.html" %}
    <div id="main_container">
      <div class="container">
        <div class="row">
          {% include "partials/breadcrumbs/breadcrumbs.html" %}
        </div>
        <div class="row">
          <div class="col-md-9 margin-bottom">
            <div class="title margin-bottom">
              <h2>Simple Page with all typography</h2>
              <h4 class="description">Descrizione lorem ipsum solem quam naturae soltitude conras. Quentumque orabis pro naturae et fiulim dorius amet.</h4>
            </div>
            <img class="responsive" src="/assets/img/vienna.jpg" alt="" title="">
            <p><br />Phasellus eleifend molestie sapien nec auctor. Praesent vel dolor nec elit blandit accumsan. Vestibulum nibh tortor, laoreet eu fermentum nec,
              faucibus eu risus.Curabitur at eleifend diam, at bibendum eros. Nunc iaculis felis vitae massa mattis,
              at blandit nisl tristique. <b>Phasellus ut ligula</b> a tortor pharetra mollis vitae at erat.
              Pellentesque fringilla malesuada magna ut varius. Integer rutrum non dolor non scelerisque. Duis ut arcu vel nunc fermentum dapibus. </p>
            <p>Vestibulum varius ipsum et nibh sodales bibendum. Ut interdum, tortor non dictum eleifend, quam elit congue metus, eget varius sem turpis et nisi.
              Integer vitae mauris tortor. <a href="#">Aenean vulputate a magna lacinia consectetur.</a>
          </div>
          <div class="col-md-3 margin-bottom">
            <div class="sidebar-wrapper">
              <h3 class="no_toc">Sidebar</h3>
              <div class="sidebar-linklist-wrapper">
                <div class="link-list-wrapper">
                  <ul class="link-list">
                    <li>
                      <a class="list-item large medium right-icon active" href="#collapseOne" data-toggle="collapse" aria-expanded="true" aria-controls="collapseOne"><span>Link list selected </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
                      <ul class="link-sublist collapse show" id="collapseOne">
                        <li><a class="list-item active" href="#"><span>Link list 1 active </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="list-item large medium right-icon" href="#collapseTwo" data-toggle="collapse" aria-expanded="false" aria-controls="collapseTwo"><span>Link list 1 </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
                      <ul class="link-sublist collapse" id="collapseTwo">
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a class="list-item large medium right-icon" href="#collapseThree" data-toggle="collapse" aria-expanded="false" aria-controls="collapseThree"><span>Link list 1 </span><svg class="icon icon-sm icon-primary right" aria-hidden="true"><use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-expand"></use></svg></a>
                      <ul class="link-sublist collapse" id="collapseThree">
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                        <li><a class="list-item" href="#"><span>Link list 1 </span></a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="sidebar-linklist-wrapper linklist-secondary">
                <div class="link-list-wrapper">
                  <ul class="link-list">
                    <li><a class="list-item" href="#"><span>Secondary item </span></a>
                    </li>
                    <li><a class="list-item active" href="#"><span>Secondary item active </span></a>
                    </li>
                    <li><a class="list-item" href="#"><span>Secondary item </span></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

    {% include "partials/footer/footer.html" %}

    <!-- Notification per tornare alla pagina principale -->
    <div
      class="notification dismissable with-icon"
      role="alert"
      id="notification-esempi"
      aria-labelledby="notification-esempi-title"
    >
      <h5 id="notification-esempi-title">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-info-circle"></use></svg
        >Esempio di pagina base con tipografia
      </h5>
      <p>
        <a href="#">Torna alla pagina principale degli esempi</a>
      </p>
      <button type="button" class="btn notification-close">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-close"></use>
        </svg>
        <span class="sr-only">Chiudi notifica: Titolo notification</span>
      </button>
    </div>
    <script>
      $(document).ready(function() {
        notificationShow('notification-esempi')
      })
    </script>
  </body>
</html>
