<!DOCTYPE html>
<html lang="en">
  {% include "partials/head/head.html" %}
  <body>
    {% set active = 'documents' %}
    {% include "partials/header/header.html" %}
    <div id="main_container">
      <div class="container">

        <div class="row">
          {% include "partials/breadcrumbs/breadcrumbs.html" %}
        </div>

        <div class="row">
          <div class="title">
            <h2>Documenti</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt veniam consectetur impedit, aut esse reiciendis ea voluptatum alias laboriosam placeat quos inventore eveniet aliquid qui aspernatur, non distinctio iste illo?</p>
          </div>
        </div>
        <div class="row row-eq-height">
          {% set items = [
              {
                icon: "it-file",
                category: "Bandi",
                title: "Bandi mobilità e strade"
              },
              {
                icon: "it-card",
                category: "Finanza",
                title: "Finanziamenti alle imprese"
              },
              {
                icon: "it-pa",
                category: "Impresa",
                title: "Investitori del futuro"
              },
              {
                icon: "it-file",
                category: "Bandi",
                title: "Bando rivalutazione zone periferiche"
              },
              {
                icon: "it-note",
                category: "Bandi",
                title: "Scadenza Bando Strade pulite"
              },
              {
                icon: "it-file",
                category: "Concorsi",
                title: "Concorso gestione spazi pedonali"
              } ] %}
            {% set withIcon = true %}
            {% set withBg = true %}
            {% set readMore = true %}
            {% for item in items %}
            {% set icon = item.icon %}
            {% set title = item.title %}
            {% set category = item.category %}
            <div class="col-md-6">
              {% include "partials/card/simple-card.html" %}
            </div>
          {% endfor %}
        </div>

      </div>
    </div>
    {% include "partials/footer/footer.html" %}
    <script>
      $(document).ready(function() {
        notificationShow('notification-esempi')
      })
    </script>
  </body>
</html>
