<!DOCTYPE html>
<html lang="en">
  {% include "partials/head/head.html" %}
  <body>
    {% set active = 'news' %}
    {% include "partials/header/header.html" %}

    <div class="container my-4">
      <h1>News</h1>
      <p>
        Ab illo tempore, ab est sed immemorabili.<br />
        Ullamco laboris nisi ut aliquid ex ea commodi consequat.<br />
        Quis aute iure reprehenderit in voluptate velit esse.<br />
        Petierunt uti sibi concilium totius Galliae in diem certam indicere.
      </p>
      <p>Pellentesque habitant morbi tristique senectus et netus.</p>
    </div>

    {% include "partials/footer/footer.html" %}

    <!-- Notification per tornare alla pagina principale -->
    <div
      class="notification dismissable with-icon"
      role="alert"
      id="notification-esempi"
      aria-labelledby="notification-esempi-title"
    >
      <h5 id="notification-esempi-title">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-info-circle"></use></svg
        >Esempio di template vuoto
      </h5>
      <p>
        <a href="#">Torna alla pagina principale degli esempi</a>
      </p>
      <button type="button" class="btn notification-close">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-close"></use>
        </svg>
        <span class="sr-only">Chiudi notifica: Titolo notification</span>
      </button>
    </div>

    <script>
      $(document).ready(function() {
        notificationShow('notification-esempi')
      })
    </script>
  </body>
</html>
