<!DOCTYPE html>
<html lang="en">
  {% include "partials/head/head.html" %}
  <body>
    {% set active = 'typography' %}
    {% include "partials/header/header.html" %}
    <div id="main_container">
      <div class="container">
        <div class="row">
          {% include "partials/breadcrumbs/breadcrumbs.html" %}
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="margin-bottom">
            <h3>Tipography</h3>
            <h1>Intestazione di tipo h1</h1>
            <h2>Intestazione di tipo h2</h2>
            <h3>Intestazione di tipo h3</h3>
            <h4>Intestazione di tipo h4</h4>
            <h5>Intestazione di tipo h5</h5>
            <h6>Intestazione di tipo h6</h6>
          </div>
          <div class="margin-bottom">
            <h3>Paragraph</h3>
            <p>Phasellus eleifend molestie sapien nec auctor. Praesent vel dolor nec elit blandit accumsan. Vestibulum nibh tortor, laoreet eu fermentum nec,
              faucibus eu risus.Curabitur at eleifend diam, at bibendum eros. Nunc iaculis felis vitae massa mattis,
              at blandit nisl tristique. <b>Phasellus ut ligula</b> a tortor pharetra mollis vitae at erat.
              Pellentesque fringilla malesuada magna ut varius. Integer rutrum non dolor non scelerisque. Duis ut arcu vel nunc fermentum dapibus. </p>
            <p>Vestibulum varius ipsum et nibh sodales bibendum. Ut interdum, tortor non dictum eleifend, quam elit congue metus, eget varius sem turpis et nisi.
              Integer vitae mauris tortor. <a href="#">Aenean vulputate a magna lacinia consectetur.</a>
            </p>
          </div>
        </div>
      </div>
      <section class="bg-second-color margin-top">
        <div class="container">
          <div class="row">
            <div class="col-md-12 margin-bottom">
              <h3>Blockquote</h3>
              <blockquote class="blockquote">
                <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
              </blockquote>
            </div>
            <div class="col-md-12 margin-bottom">
              <h3>Cite</h3>
              <cite>Maecenas ac elit faucibus nulla pulvinar mollis eget nec odio.</cite>
            </div>
            <div class="col-md-12 margin-bottom">
              <h3>Listing</h3>
              <ul>
                <li>Phasellus iaculis neque</li>
                <li>Purus sodales ultricies</li>
                <li>Vestibulum laoreet porttitor sem</li>
                <li>Ac tristique libero volutpat at</li>
              </ul>
            </div>
            <div class="col-md-12 margin-bottom">
              <h3>Paragrafo personalizzato</h3>
              <p>Esempio di testo <u>sottolineato</u>.</p>
              <p>Esempio di testo <mark>evidenziato</mark>.</p>
              <p>Esempio di testo <em>corsivo</em>.</p>
              <p>Esempio di testo <strong>in grassetto</strong>.</p>
              <p>Esempio di testo <small>rimpicciolito</small>.</p>
              <p>Esempio di testo <ins>aggiuntivo</ins>.</p>
              <p>Esempio di testo <del>cancellato</del> o <s>invalido</s>.</p>
              <p>Esempio di testo <code>monospace</code>.</p>
            </div>
          </div>
        </div>
      </section>

      <div class="container">
        <div class="row">
          <div class="margin-bottom">
            <h3>Tabelle</h3>
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Cognome</th>
                  <th scope="col">Username</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mario</td>
                  <td>Verdi</td>
                  <td>mario.verdi</td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Francesco</td>
                  <td>Bianchi</td>
                  <td>francesco.bianchi</td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Alessandro</td>
                  <td>Rossi</td>
                  <td>alessandro.rossi</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <section class="bg-second-color">
        <div class="container">
          <h3>Form</h3>
          <div class="row margin-bottom">
            <div class="col-md-4">
              <label for="inputNumber" class="input-number-label">Input Number</label>
              <span class="input-number">
                <input type="number" id="inputNumber" name="inputNumber" value="100">
                <button class="input-number-add">
                  <span class="sr-only">Aumenta valore</span>
                </button>
                <button class="input-number-sub">
                  <span class="sr-only">Diminuisci valore</span>
                </button>
              </span>
            </div>
            <div class="col-md-4">
              <label for="inputNumber5" class="input-number-label">Disabled</label>
              <span class="input-number disabled">
                <input type="number" id="inputNumber5" name="inputNumber5" value="50" min="0" max="100" step="1" disabled>
                <button class="input-number-add" disabled>
                  <span class="sr-only">Aumenta valore</span>
                </button>
                <button class="input-number-sub" disabled>
                  <span class="sr-only">Diminuisci valore</span>
                </button>
              </span>
            </div>
            <div class="col-md-4">
              <label for="inputNumber6" class="input-number-label">Adattivo</label>
              <span class="input-number input-number-adaptive">
                <input type="number" id="inputNumber6" name="inputNumber6" value="99999" step="1">
                <button class="input-number-add">
                  <span class="sr-only">Aumenta valore</span>
                </button>
                <button class="input-number-sub">
                  <span class="sr-only">Diminuisci valore</span>
                </button>
              </span>
            </div>
          </div>
        </div>
      </section>
    </div>

    {% include "partials/footer/footer.html" %}

    <!-- Notification per tornare alla pagina principale -->
    <div
      class="notification dismissable with-icon"
      role="alert"
      id="notification-esempi"
      aria-labelledby="notification-esempi-title"
    >
      <h5 id="notification-esempi-title">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-info-circle"></use></svg
        >Esempio di pagina base con tipografia
      </h5>
      <p>
        <a href="#">Torna alla pagina principale degli esempi</a>
      </p>
      <button type="button" class="btn notification-close">
        <svg class="icon">
          <use xlink:href="./svg/sprite.svg#it-close"></use>
        </svg>
        <span class="sr-only">Chiudi notifica: Titolo notification</span>
      </button>
    </div>

    <script>
      $(document).ready(function() {
        notificationShow('notification-esempi')
      })
    </script>
  </body>
</html>
