<div class="container-fluid in-catalogo py-5">
  <div class="container">
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title"><a href="#">Libri</a></h5>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title"><a href="#">Riviste e abbonamenti</a></h5>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title"><a href="#">Ebook</a></h5>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title"><a href="#">Software</a></h5>
      </div>
      <div class="card">
        <img class="card-img-top" src="/assets/img/img-placeholder.jpg" alt="Card Immagine">
        <h5 class="card-title"><a href="#">Novità editoriali</a></h5>
      </div>
    </div>
  </div>
</div>
