<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="dist/img/corsi-min.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-content">
          <h5 class="documentFirstHeading"><a href="#">Agenda della scuola: primo trimestre (settembre - ottobre - novembre 2018)</a></h5>
          <p><span>Spunti per il miglioramento</span></p>
          <ul>
            <li>1.Sviluppo professionale e formazione in servizio: standard, portfolio, indicatori di qualità</li>
            <li>2. Workflow per una adeguata gestione dei dati personali e particolari, ai sensi del Regolamento UE 2016/697</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="dist/img/webapp.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-content">
          <h5 class="documentFirstHeading"><a href="#">Carriera Scuola</a></h5>
          <p>Tutta la carriera in una Web App</p>
        </div>
      </div>
    </div>
    <div class="carousel-item">
      <img src="dist/img/books-min.jpg" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <div class="carousel-caption-content">
          <h5 class="documentFirstHeading"><a href="#">Notizie della scuola a.s. 2018/19</a></h5>
          <p> <span>L'abbonamento può essere acquistato anche con la Carta del Docente e comprende:</span></p>
          <ul>
            <li>24 fascicoli della Rivista</li>
            <li>Repertorio (Dizionario normativo della scuola)</li>
            <li>Scadenzario degli adempimenti</li>
            <li>Accesso area internet</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Precedente</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Successivo</span>
  </a>
</div>
