<div class="dizionario-normativo">
  <div class="ribbon"></div>
  <div class="dizionario-normativo-text">
    <h4 class="documentFirstHeading"><a href="#">Dizionario Normativo</a></h4>
    <h6>Riservata agli abbonati di <a href="#">Ipertesto Unico Scuola</a></h6>
    <ul>
      <li>
        <a href="">Iscrizione alunni 24/09/2018</a>
      </li>
      <li>
        <a href="">Calendario scolastico 17/09/2018</a>
      </li>
      <li>
        <a href="">Tutela dati personali (privacy) 17/09/2018</a>
      </li>
      <li>
        <a href="">Bonus docenti 19/07/2018</a>
      </li>
    </ul>
  </div>

</div>
