<div class="books riviste">
  <div class="row">
    <h2 class="documentFirstHeading">
      <a href="#">Riviste / ultime edizioni</a>
    </h2>
  </div>
  <div class="listing">
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/rivista1.png" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Notizie della scuola n. 1 dell'1/15 settembre 2018</a>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/rivista2.jpeg" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Agenda della scuola - Primo trimestre a.s. 2018/2019</a>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/rivista3.png" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Ipertesto Unico Scuola 2018</a>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="../dist/img/rivista4.jpeg" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">Dirigere scuole n. 1 / 2018</a>
      </div>
    </div>
    <a href="#" class="read-more">Sezione Libri</a>
  </div>

</div>
