<div class="calendar scadenze">
  <div class="row">
    <h2 class="documentFirstHeading">
      <a href="#">Scadenziario</a>
    </h2>
  </div>
    <div class="row row-striped">
      <div class="col-3 text-left">
        <h4 class="display-4"><span class="badge badge-secondary">27</span></h4>
        <p>Ottobre</p>
      </div>
      <div class="col-9">
        <h6><a href="#">Aggiornamento Anagrafe Nazionale degli Studenti</a></h6>
      </div>
    </div>
    <div class="row row-striped">
      <div class="col-3 text-left">
        <h4 class="display-4"><span class="badge badge-secondary">30</span></h4>
        <p>Dicembre</p>
      </div>
      <div class="col-9">
        <h6><a href="#">Iscrizione prove Invalsi</a></h6>
      </div>
    </div>
</div>
