<div class="modal it-dialog-link-list modals" tabindex="-1" role="dialog" id="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><span>1.</span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
          tempor incididunt.
        </h5>
      </div>
      <div class="modal-body">
        <div class="link-list-wrapper">
          <ul class="link-list">
            <li>
              <a class="list-item icon-left" href="#">
                <svg class="icon icon-primary">
                  <use xlink:href="/svg/sprite.svg#it-code-circle"></use>
                </svg>
                <span>Link list 1</span>
              </a>
            </li>
            <li>
              <a class="list-item icon-left" href="#">
                <svg class="icon icon-primary">
                  <use xlink:href="/svg/sprite.svg#it-code-circle"></use>
                </svg>
                <span>Link list 1</span>
              </a>
            </li>
            <li>
              <a class="list-item icon-left" href="#">
                <svg class="icon icon-primary">
                  <use xlink:href="/svg/sprite.svg#it-code-circle"></use>
                </svg>
                <span>Link list 1</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
