<div class="modal alert-modal modals" tabindex="-1" role="dialog" id="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <svg class="icon">
          <use xlink:href="/svg/sprite.svg#it-info-circle"></use>
        </svg>
        <h5 class="modal-title">This is a notification message more long than usual
        </h5>
      </div>
      <div class="modal-body">
        <p>In the various types of information modal dialog, only one button to close dialog is provided.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary btn-sm" type="button">Ok</button>
      </div>
    </div>
  </div>
</div>
