<div class="modal popconfirm-modal modals" tabindex="-1" role="dialog" id="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Popconfirm header</h5>
        </div>
        <div class="modal-body">
          <p>Font Titillium 14px. Leading 21px.</p>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary btn-sm" type="button">Action one</button>
          <button class="btn btn-outline-secondary btn-sm" type="button" data-dismiss="modal">Action two</button>
        </div>
    </div>
  </div>
</div>
