<div class="modal modals" tabindex="-1" role="dialog" id="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">dialog header
        </h5>
      </div>
      <div class="modal-body">
        <p>Font Titillium 16px. Leading 24px. omnis iste natus error.</p>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Action two</button>
        <button class="btn btn-primary btn-sm" type="button">Action one</button>
      </div>
    </div>
  </div>
</div>
