<div class="modal modals" tabindex="-1" role="dialog" id="">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Choose an item
        </h5>
      </div>
      <div class="modal-body">
        <div class="form-check" aria-describedby="">
          <input name="gruppo1" type="radio" id="radio1">
          <label for="radio1">Opzione 1</label>
        </div>
        <div class="form-check" aria-describedby="">
          <input name="gruppo1" type="radio" id="radio2">
          <label for="radio2">Opzione 2</label>
        </div>
        <div class="form-check" aria-describedby="">
          <input name="gruppo1" type="radio" id="radio3">
          <label for="radio3">Opzione 3</label>
        </div>
      </div>
      <div class="modal-footer">
        <button class="btn btn-outline-primary btn-sm" type="button" data-dismiss="modal">Cancel</button>
        <button class="btn btn-primary btn-sm" type="button" disabled="">Ok</button>
      </div>
    </div>
  </div>
</div>
