<div class="notification with-icon success dismissable" role="alert" aria-labelledby="not2dms-title" id="notifications">
    <h5 id="not2dms-title"><svg class="icon"><use xlink:href="/svg/sprite.svg#it-check-circle"></use></svg>Titolo notifica</h5>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor…</p>
    <button type="button" class="btn notification-close">
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Chiudi notifica: Titolo notifica</span>
    </button>
  </div>
