<div class="books">
  <div class="row">
    <h2 class="documentFirstHeading">
      <a href="#">eBook</a>
    </h2>
  </div>
  <div class="listing">
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="/assets/img/img-placeholder.jpg" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#"> L'Europa dei progetti e delle opportunità. Il programma ERASMUS+</a>
        <p class="author">Susanna Granello</p>
        <p class="date">Disponibile in eBook</p>
      </div>
    </div>
    <div class="listing-card">
      <div class="col copertina">
        <a href="#">
          <img src="/assets/img/img-placeholder.jpg" class="img-fluid">
        </a>
      </div>
      <div class="col info">
        <a href="#">L'assicurazione degli alunni e la consulenza del broker</a>
        <p class="author">Susanna Granelo</p>
        <p class="date">Disponibile in ebook (agg. aprile 2015)</p>
      </div>
    </div>
  </div>

</div>
