<div class="chip chip-simple chip-lg chip-disabled">
    <span class="chip-label">Label disabilitata</span>
  </div>

  <div class="chip chip-lg chip-disabled">
    <label class="chip-label" for="chip-01">Label disabilitata</label>
    <button id="chip-01" disabled>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip chip-lg chip-disabled">
    <svg class="icon icon-xs"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
    <label class="chip-label" for="chip-02">Label disabilitata</label>
    <button id="chip-02" disabled>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip chip-lg chip-disabled">
    <div class="avatar size-xs">
      <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
    </div>
    <label class="chip-label" for="chip-03">Label disabilitata</label>
    <button id="chip-03" disabled>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>
  <span class="chip-label">Label disabilitata</span>
</div>

<div class="chip chip-lg chip-disabled">
  <label class="chip-label" for="chip-01">Label disabilitata</label>
  <button id="chip-01" disabled>
    <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
    <span class="sr-only">Elimina label</span>
  </button>
</div>

<div class="chip chip-lg chip-disabled">
  <svg class="icon icon-xs"><use xlink:href="svg/sprite.svg#it-github"></use></svg>
  <label class="chip-label" for="chip-02">Label disabilitata</label>
  <button id="chip-02" disabled>
    <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
    <span class="sr-only">Elimina label</span>
  </button>
</div>

<div class="chip chip-lg chip-disabled">
  <div class="avatar size-xs">
    <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
  </div>
  <label class="chip-label" for="chip-03">Label disabilitata</label>
  <button id="chip-03" disabled>
    <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
    <span class="sr-only">Elimina label</span>
  </button>
</div>
