<div class="chip chip-simple">
    <span class="chip-label">Label</span>
  </div>

  <div class="chip">
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip">
    <svg class="icon icon-xs"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip">
    <div class="avatar size-xs">
      <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
    </div>
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <hr/>

  <div class="chip chip-lg chip-simple">
    <span class="chip-label">Label</span>
  </div>

  <div class="chip chip-lg">
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip chip-lg">
    <svg class="icon icon-xs"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>

  <div class="chip chip-lg">
    <div class="avatar size-xs">
      <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
    </div>
    <span class="chip-label">Label</span>
    <button>
      <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
      <span class="sr-only">Elimina label</span>
    </button>
  </div>
