<div class="row">
    <div class="col-12 col-md-6">
      <h4>Versione Standard</h4>
      <p class="mt-4 mb-2">Solo testo</p>
      <div class="chip chip-simple">
        <span class="chip-label">Label</span>
      </div>
      <p class="mt-4 mb-2">Testo e chiusura</p>
      <div class="chip">
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
      <p class="mt-4 mb-2">Icona, testo e chiusura</p>
      <div class="chip">
        <svg class="icon icon-xs"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
      <p class="mt-4 mb-2">Avatar, testo e chiusura</p>
      <div class="chip">
        <div class="avatar size-xs">
          <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
        </div>
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
    </div>
    <div class="col-12 col-md-6">
      <h4>Versione Grande</h4>
      <p class="mt-4 mb-2">Solo testo grande</p>
      <div class="chip chip-simple chip-lg">
        <span class="chip-label">Label</span>
      </div>
      <p class="mt-4 mb-2">Testo e chiusura grande</p>
      <div class="chip chip-lg">
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
      <p class="mt-4 mb-2">Icona, testo e chiusura grande</p>
      <div class="chip chip-lg">
        <svg class="icon icon-xs"><use xlink:href="/svg/sprite.svg#it-github"></use></svg>
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
      <p class="mt-4 mb-2">Avatar, testo e chiusura grande</p>
      <div class="chip chip-lg">
        <div class="avatar size-xs">
          <img src="https://randomuser.me/api/portraits/men/46.jpg" alt="Mario Rossi">
        </div>
        <span class="chip-label">Label</span>
        <button>
          <svg class="icon"><use xlink:href="/svg/sprite.svg#it-close"></use></svg>
          <span class="sr-only">Elimina label</span>
        </button>
      </div>
    </div>
  </div>
