.card {
  a.read-more {
    position: relative;
    bottom: auto;
    padding: 12px 0 0;
  }
}

//Tablet horizontal / small desktop
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .card-wrapper {
    padding-bottom: 40px;
  }
}
