<div class="steppers mobile-examples">
    <div class="steppers-content" aria-live="polite">
      <!-- Esempio START -->
      <p>Contenuto di esempio dello step corrente</p>
      <!-- Esempio END -->
    </div>
    <nav class="steppers-nav">
      <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-prev"><svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-chevron-left"></use></svg>Indietro</button>
      <ul class="steppers-dots">
        <li class="done"><span class="sr-only">Step 1 di 6 - Confermato</span></li>
        <li class="done"><span class="sr-only">Step 2 di 6 - Confermato</span></li>
        <li class="done"><span class="sr-only">Step 3 di 6 - Confermato</span></li>
        <li><span class="sr-only">Step 4 di 6</span></li>
        <li><span class="sr-only">Step 5 di 6</span></li>
        <li><span class="sr-only">Step 6 di 6</span></li>
      </ul>
      <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-next">Avanti<svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-chevron-right"></use></svg></button>
    </nav>
  </div>
