<div class="steppers">
    <ul class="steppers-header">
      <li class="confirmed">Label Step 1 <svg class="icon steppers-success"><use xlink:href="/svg/sprite.svg#it-check"></use></svg><span class="sr-only">Confermato</span></li>
      <li class="active">Label Step 2 <span class="sr-only">Attivo</span></li>
      <li>Label Step 3</li>
      <li class="steppers-index" aria-hidden="true">2/6</li>
    </ul>
    <div class="steppers-content" aria-live="polite">
      <!-- Esempio START -->
      <p>Contenuto di esempio dello step corrente</p>
      <!-- Esempio END -->
    </div>
    <nav class="steppers-nav">
      <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-prev"><svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-chevron-left"></use></svg>Indietro</button>
      <button type="button" class="btn btn-outline-primary btn-sm steppers-btn-next">Avanti<svg class="icon icon-primary"><use xlink:href="/svg/sprite.svg#it-chevron-right"></use></svg></button>
      <button type="button" class="btn btn-primary btn-sm steppers-btn-confirm d-none d-lg-block">Conferma</button>
    </nav>
  </div>
