<div id="collapseDiv2" class="collapse-div" role="tablist">
    <div class="collapse-header" id="heading1a">
      <button data-toggle="collapse" data-target="#collapse1a" aria-expanded="true" aria-controls="collapse1a">
        Collapse header 1
      </button>
    </div>
    <div id="collapse1a" class="collapse show" role="tabpanel" aria-labelledby="heading1a">
      <div class="collapse-body">
        <div id="collapseDiv3" class="collapse-div" role="tablist">
          <div class="collapse-header" id="heading1b">
            <button data-toggle="collapse" data-target="#collapse1b" aria-expanded="true" aria-controls="collapse1b">
              Nested panel header 1
            </button>
          </div>
          <div id="collapse1b" class="collapse show" role="tabpanel" aria-labelledby="heading1b">
            <div class="collapse-body">
              Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch.
            </div>
          </div>
          <div class="collapse-header" id="heading2b">
            <button data-toggle="collapse" data-target="#collapse2b" aria-expanded="true" aria-controls="collapse2b">
              Nested panel header 2
            </button>
          </div>
          <div id="collapse2b" class="collapse show" role="tabpanel" aria-labelledby="heading2b">
            <div class="collapse-body">
              Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
          <div class="collapse-header" id="heading3b">
            <button data-toggle="collapse" data-target="#collapse3b" aria-expanded="false" aria-controls="collapse3b">
              Nested panel header 3
            </button>
          </div>
          <div id="collapse3b" class="collapse" role="tabpanel" aria-labelledby="heading3b">
            <div class="collapse-body">
              Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="collapse-header" id="heading2a">
      <button data-toggle="collapse" data-target="#collapse2a" aria-expanded="false" aria-controls="collapse2a">
        Collapse header 2
      </button>
    </div>
    <div id="collapse2a" class="collapse" role="tabpanel" aria-labelledby="heading2a">
      <div class="collapse-body">
        Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
    <div class="collapse-header" id="heading3a">
      <button data-toggle="collapse" data-target="#collapse3a" aria-expanded="false" aria-controls="collapse3a">
        Collapse header 3
      </button>
    </div>
    <div id="collapse3a" class="collapse" role="tabpanel" aria-labelledby="heading3a">
      <div class="collapse-body">
        Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
      </div>
    </div>
  </div>
